
body{
    margin: 0;
    padding: 0;
}
.App{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#form{
    border: 1px solid black;
    margin: 10px 200px;
    padding: 10px 50px;
}
#firstrow, #thirdrow, #fourthrow, #fifthrow{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#buttons{
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
}
#secondrow{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
#mother{
    margin-left: 190px;
}
input{
    height: 20px;
}
select{
    height: 25px;
}
#contact{
    width: 150px
}
#address{
    width: 300px;
}
.button{
    height: 25px;
    width: 100px;
    margin: 0px 10px;
}

/* Table Coding */

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

#table-div{
    width: 98%;
    margin: 20px 10px;
}
#table{
    width: 100%;
}